.App {
  text-align: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.Posts {
  max-width: 500px;
  margin: auto;
  padding: 40px;
}

.ui.card>.content.extra,
.ui.cards>.card>.content.extra {
  /* background-color: pink; */
  color: #616161;
}

